<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ SITE_NAME }}: スタイルのカスタマイズ</title>
  <link href="styles/openrss.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1><a href="./">{{ SITE_NAME }}</a></h1>
<div class="content">
<!--RSSの貼り付けページ-->

  <h3>スタイルのカスタマイズ：</h3>
  <p>貼り付け先のご自分のページで以下のようなスタイルシートを書くと、さらに自由にデザインを変えることができます。</p>
  <div class="code">
  &lt;style type=&quot;text/css&quot;&gt; <br/>
  .openrss ul { <br/>
    margin-left:0px; <br/>
    padding-left:15px; <br/>
    list-style-type: square; <br/>
  } <br/>
  .openrss li { <br/>
    font-size:12px; <br/>
  } <br/>
  .openrss li a{ <br/>
    font-weight:bold; <br/>
  } <br/>
  &lt;/style&gt;
  </div>
  <p>&nbsp;</p>

</div>
<div class="footer">
  <p>{{ SITE_NAME }}  &copy;
  <a href="http://rakusai.org">Isshu Rakusai</a>
  </p>
  <p style="color:#666">Tomato Feedは、クラウドアプリケーションプラットフォーム
  <a href="https://cloud.google.com/appengine/">Google App Engine</a>上で動作しています。<br />
  Googleのクラウド技術により非常に安定して動作します。
  </p>
</div>
</body>
</html>
